@import "tailwindcss";
@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Unbounded:wght@200..900&display=swap');

:root {
  --black-100: #4A535F;
  --black-40: #9C9C9D;
  --black-10: #D4D4D4;

  --white-100: #FDFFFF;
  --white-90: #FFFBE8;
  --white-80: #E5F6F8;
  --white-70: #F2F2F2;
  --white-60: #D9D9D9;

  --blue-40: #E5F6F8;
  --blue-50: #B8F1FF;
  --blue-60: #BAE2F0;
  --blue-70: #88DAEF;
  --blue-90: #2D7B9E;
  --blue-100: #266B84;

  --title1-size: clamp(2rem, 4.375vw, 6rem);
  --title2-size: clamp(1.75rem, 2.08vw, 3rem);
  --title3-size: clamp(1.5rem, 1.6vw, 2.25rem);
  --title4-size: clamp(1rem, 1.41vw, 1.5rem);
  --title5-size: clamp(1rem, .93vw, 1.5rem);
  --title6-size: 1rem;
  --title7-size: clamp(1.25rem, 1.25vw, 1.5rem);

  --text1-size: clamp(.75rem, .93vw, 1.5rem);
  --text2-size: clamp(.875rem, .83vw, 1.25rem);
  --text3-size: clamp(.875rem, .73vw, 1rem);
  
  --base-font-family: 'Manrope';
  --additional-font-family: 'Unbounded';
}

body {
  font-family: var(--base-font-family);
}

h1 {
  font-family: var(--additional-font-family);
  font-size: var(--title1-size);
  font-weight: 500;
  line-height: 110%;

  text-transform: uppercase;
}

h2 {
  font-size: var(--title2-size);
  font-weight: 700;
  line-height: 110%;
  
  text-transform: uppercase;
}

h3 {
  font-size: var(--title3-size);
  font-weight: 700;
  line-height: 110%;
  
  text-transform: uppercase;
}

h4 {
  font-size: var(--title4-size);
  font-weight: 500;
  line-height: 110%;
  
  text-transform: uppercase;
}
